*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}